
    <div class="form-body" class="container-fluid">
        <div class="website-logo">
            <a href="index.html">
                <div class="logo">
                    <img class="logo-size" src="images/logo-light.svg" alt="">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <img src="images/graphic1.svg" alt="">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Get more things done with Loggin platform.</h3>
                        <p>Access to the most powerfull tool in the entire design and web industry.</p>
                        <div class="page-links">
                            <a href="login4.html">Login</a><a href="register4.html" class="active">Register</a>
                        </div>
                       <form method="POST">
		    <div class="col-md-12">
			     <input type="hidden" name="type" value="fundseeker">
                    <div class="form-group">
                      <input type="text" class="form-control" id="name" name="name" placeholder="Name" required data-error="Please enter your name">
                      <div class="help-block with-errors"></div>
                    </div>                                 
            </div>
			
			  <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" class="form-control" id="email" name="email" placeholder="Email" required data-error="Please enter your email">
                      <div class="help-block with-errors"></div>
                    </div> 
				</div>	
					
					<div class="col-md-12">
                    <div class="form-group">
                      <input type="password" class="form-control" id="password" name="password" placeholder="Password" required data-error="Please enter your password">
                      <div class="help-block with-errors"></div>
                    </div>
					</div>

					<div class="col-md-12">
                    <div class="form-group">
                      <input type="password" class="form-control" id="Cpassword" name="password" placeholder="Confirm Password" required data-error="Please enter your password">
                      <div class="help-block with-errors"></div>
                    </div>
					</div>
					
					<div class="col-md-12">
                    <div class="form-group">
                      <input type="date" class="form-control" id="dob" name="dob" placeholder="Date Of Birth" required data-error="Please enter your Date Of Birth">
                      <div class="help-block with-errors"></div>
                    </div>
					</div>
					
					<div class="col-md-12">
                    <div class="form-group">
                      <input type="phone" class="form-control" id="Phone" name="contact" placeholder="Phone" required data-error="Please enter your Phone No'">
                      <div class="help-block with-errors"></div>
                    </div>
					</div>
					
					<div class="col-md-12">
                    <div class="form-group">
                     <select class="form-control" name="gender" required data-error="Please enter your password">
					  <option value="" disabled selected>Select Gender<option>
					  <option value="Male">Male </option>
					  <option value="Female">Female </option>
					  <option value="Other">Prefer not to specify </option>
					 </select>
                      <div class="help-block with-errors"></div>
                    </div>
					</div>
					
					

                <div class="submit-button">
                      <button class="btn btn-common" id="form-submit" type="submit">Sign Up</button>
                      <div id="msgSubmit" class="h3 text-center hidden"></div> 
                      <div class="clearfix"></div> 
                    </div>
               </form>	
                        <div class="other-links">
                            <span>Or register with</span><a href="#">Facebook</a><a href="#">Google</a><a href="#">Linkedin</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
